Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Optional: run if tools are installed locally
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        # Allow missing tool gracefully
        always_run: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        always_run: false

Add core knowledge summary and debug visibility
  app/api/luminaries/[luminaryId]/core-knowledge/route.ts
  app/luminaries/temp/page.tsx
  components/debug/DebugPanel.tsx
  components/luminaries/CoreKnowledgeDevPanel.tsx
  components/luminaries/CoreKnowledgeSummaryCard.tsx
  components/luminaries/useCoreKnowledge.ts
  data/coreKnowledge.ts
  docs/LOGS/PRS/2025-12-04T212731Z-pr-epoch-0008-pr4-core-knowledge-summary-and-debug.md
  docs/ROADMAP/EPOCHS/epoch-0008-core-knowledge/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0008-core-knowledge/STATUS.yaml
  lib/coreKnowledge/store.ts
  lib/graph/luminChatGraph.ts
  lib/luminaries/schema.ts
Due: markdownlint, yamllint

Replace swr in core knowledge hook
  components/luminaries/useCoreKnowledge.ts
Due: none

Trigger opportunities intro tutorial when panel opens
  components/Canvas/StepCard.tsx
Due: none

Adjust Canvas tutorial sequencing
  __tests__/components/Canvas/TutorialSequence.test.tsx
  components/Canvas/Canvas.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-05T11:46:33Z-prompt-0153.md
Due: markdownlint

Restore opportunities autogenerating tutorial trigger
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-05T19:58:01Z-prompt-0154.md
  hooks/useOpportunities.ts
  test/hooks/useOpportunities.test.tsx
Due: markdownlint

Simplify opportunities autogenerating tutorial trigger
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-05T20:59:46Z-prompt-0155.md
  test/ui/StepCard.test.tsx
Due: markdownlint

Restyle tutorial callout visuals
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2025-12-06T07:42:44Z-prompt-0156.md
Due: markdownlint

Add arrow tail to tutorial callout
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2025-12-06T09:16:49Z-prompt-0157.md
Due: markdownlint

Document autogen tutorial hotfix and logging
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-06T10:27:09Z-prompt-0158.md
Due: markdownlint

Trigger autogen tutorial tip via opportunities callbacks
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-06T10:46:53Z-prompt-0159.md
  hooks/useOpportunities.ts
Due: markdownlint

Add fallback autogen tutorial trigger on ear click
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-06T11:06:02Z-prompt-0160.md
Due: markdownlint

Refine autogen ear fallback trigger
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-06T18:41:03Z-prompt-0161.md
Due: markdownlint

Ensure autogen tip triggers on loading ear
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-06T19:04:11Z-prompt-0162.md
Due: markdownlint

Remove collaboration section from README
  README.md
Due: markdownlint

Document Core Knowledge lab evaluation and status
  docs/DESIGN/core-knowledge-behaviour.md
  docs/EVAL/core-knowledge-lab.md
  docs/LOGS/PROMPTS/2025-12-13T18:26:47Z-prompt-0010.md
  docs/ROADMAP/EPOCHS/epoch-0012-core-knowledge-lab/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
Due: markdownlint, yamllint

Add lite AI prompt variants and fast routing
  lib/ai/opportunityPrompt.ts
  lib/ai/stepPrompt.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-opportunities.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: none

Add logging to AI tool follow-up handling (prompt-0153)
  app/api/ai/tools/route.ts
  docs/LOGS/PROMPTS/2025-12-18T16:00:42Z-prompt-0153.md
Due: markdownlint

prompt-0154: add AI mode selection and defaults
  app/api/ai/stream/route.ts
  app/api/ai/tools/route.ts
  docs/ENV/ai.md
  docs/LOGS/PROMPTS/2025-12-18T18:44:49Z-prompt-0154.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
Due: markdownlint

Add AI model mode selection
  app/api/ai/graph/route.ts
  app/api/ai/ping/route.ts
  app/api/ai/stream/route.ts
  app/api/ai/tools/route.ts
  docs/ENV/ai.md
  lib/ai/client.ts
  lib/ai/graph/guarded.ts
  lib/ai/graph/ping.ts
Due: markdownlint

Add LLM mode resolver and expose fast/quality selection
  app/api/ai/graph/route.ts
  app/api/ai/ping/route.ts
  app/api/ai/stream/route.ts
  app/api/ai/tools/route.ts
  docs/ENV/ai.md
  docs/LOGS/PROMPTS/2025-12-19T17:35:17Z-prompt-0155.md
  lib/ai/client.ts
  lib/ai/graph/guarded.ts
  lib/ai/graph/ping.ts
Due: markdownlint

prompt-0154: memoize chat model client
  docs/LOGS/PROMPTS/2025-12-18T18:43:51Z-prompt-0154.md
  lib/ai/client.ts
Due: markdownlint

Memoize chat model client
  docs/LOGS/PROMPTS/2025-12-19T17:48:49Z-prompt-0010.md
  lib/ai/client.ts
Due: markdownlint

Add streaming options for ping and tools (prompt-0154)
  app/api/ai/ping/route.ts
  app/api/ai/tools/route.ts
  docs/LOGS/PROMPTS/2025-12-18T18:49:56Z-prompt-0154.md
Due: markdownlint

Add streaming support to AI ping and tools endpoints
  app/api/ai/ping/route.ts
  app/api/ai/tools/route.ts
Due: none

prompt-0153: guard global msw console log
  docs/LOGS/PROMPTS/2026-01-11T16:24:26Z-prompt-0153.md
  pages/_app.tsx
Due: markdownlint

prompt-0153: restrict profiles GET to session user
  app/api/profiles/route.ts
  docs/LOGS/PROMPTS/2026-01-11T16:24:33Z-prompt-0153.md
Due: markdownlint

prompt-0153: move step index init
  docs/LOGS/PROMPTS/2026-01-11T16:26:56Z-prompt-0153.md
  lib/dbHelpers.ts
  lib/mongodb.ts
  pages/api/steps/index.ts
Due: markdownlint

prompt-0154: remove touch handlers from tutorial callout
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2026-01-11T17:13:49Z-prompt-0154.md
Due: markdownlint

prompt-0154: enforce tutorial message validation
  docs/LOGS/PROMPTS/2026-01-11T17:13:46Z-prompt-0154.md
  lib/tutorial/messages.ts
Due: markdownlint

prompt-0154: add tutorial dismissal cooldown
  components/tutorial/TutorialContext.tsx
  docs/LOGS/PROMPTS/2026-01-11T17:14:03Z-prompt-0154.md
Due: markdownlint

Complete epoch 0011 tutorial guidance
  docs/CHANGELOG.md
  docs/HISTORY/2025-12-03-epoch-0011-tutorial-guidance.md
  docs/ROADMAP/EPOCHS/epoch-0011-tutorial-guidance/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
  docs/STATE/HEALTHCHECK.md
Due: markdownlint, yamllint

Adding schema docs
  NewSchema.docx
Due: none

Add student canvas v1 schema and decision record
  docs/LOGS/PROMPTS/2026-04-22T10:40:35Z-prompt-0153.md
  docs/SCHEMA/student-canvas-v1-decisions.md
  docs/SCHEMA/student-canvas.schema.json
Due: markdownlint

Align student canvas persistence with v1 schema
  __tests__/student-canvas.schema.test.ts
  docs/LOGS/PROMPTS/2026-04-22T11:35:00Z-prompt-0153.md
  lib/opportunities/generation.ts
  lib/studentCanvas.ts
  lib/userData.ts
Due: markdownlint

Harden intentions save path after schema migration
  docs/LOGS/PROMPTS/2026-04-22T11:55:00Z-prompt-0154.md
  lib/studentCanvas.ts
  lib/userData.ts
Due: markdownlint

Add student canvas repository and migrate API persistence
  docs/LOGS/PROMPTS/2026-04-22T12:19:47Z-prompt-0149.md
  lib/opportunities/generation.ts
  lib/studentCanvas/repository.ts
  pages/api/intentions/index.ts
  pages/api/steps/[stepId]/opportunities.ts
  pages/api/steps/[stepId]/opportunities/shuffle.ts
  pages/api/steps/history.ts
  pages/api/steps/index.ts
  pages/api/tutorial/state.ts
Due: markdownlint

Add schema-aligned student canvas types and mappers
  docs/LOGS/PROMPTS/2026-04-22T12:53:00Z-prompt-0154.md
  lib/studentCanvas/mappers.ts
  lib/studentCanvas/repository.ts
  pages/api/intentions/index.ts
  types/studentCanvasV1.ts
Due: markdownlint
