Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Optional: run if tools are installed locally
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        # Allow missing tool gracefully
        always_run: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        always_run: false

Add LLM instrumentation to AI entrypoints
  app/api/ai/graph/route.ts
  app/api/ai/stream/route.ts
  app/api/ai/tools/route.ts
  components/debug/DebugPanel.tsx
  docs/LOGS/PROMPTS/2025-11-21T18:09:34Z-prompt-0124.md
  docs/LOGS/PRS/pr-0026-pr-1d-hotfix-llm-instrumentation.md
  pages/api/ai/suggest-steps.ts
Due: markdownlint

Instrument runtime suggest-steps workflow logging
  docs/LOGS/PROMPTS/2025-11-21T18:45:03Z-prompt-0125.md
  runtime/workflows/suggest-steps.ts
Due: markdownlint

Add instrumentation for generate-next-step and LLM core
  docs/LOGS/PROMPTS/2025-11-21T19:07:34Z-prompt-0126.md
  docs/LOGS/PRS/pr-0027-pr-1f-hotfix-generate-next-step-llm-core.md
  lib/langgraph/workflow.ts
  runtime/workflows/suggest-steps.ts
Due: markdownlint

Add epoch 0010 prompt refinement records
  docs/LOGS/PROMPTS/2025-11-22T07:59:06Z-prompt-0119.md
  docs/ROADMAP/EPOCHS/epoch-0010-prompt-refinement/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0010-prompt-refinement/STATUS.yaml
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add runtime LLM enforcement and debug instrumentation
  docs/LOGS/PROMPTS/2025-11-22T08:12:41Z-prompt-0120.md
  docs/LOGS/PRS/pr-0022-epoch-0010-llm-runtime-instrumentation.md
  runtime/core/llm.ts
  runtime/workflows/generate-next-step.ts
Due: markdownlint

Enforce LLM env and instrument workflow
  docs/LOGS/PRS/pr-0023-epoch-0010-llm-enforcement-workflow-debug.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
Due: markdownlint

Add runtime LLM observability for suggest-next-step
  docs/LOGS/PROMPTS/2025-11-22T08:51:03Z-prompt-0121.md
  docs/LOGS/PRS/pr-0024-epoch-0010-llm-real-workflow-observability.md
  runtime/ai/suggest-next-step.ts
Due: markdownlint

Add epoch 0010 prompt refinement plan
  docs/LOGS/PROMPTS/2025-11-22T09:08:13Z-prompt-0119.md
  docs/ROADMAP/EPOCHS/epoch-0010-prompt-refinement/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0010-prompt-refinement/STATUS.yaml
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add model provenance to AI suggestions (prompt-0120)
  docs/LOGS/PROMPTS/2025-11-22T09:18:23Z-prompt-0120.md
  docs/LOGS/PRS/2025-11-22T091834Z-pr-0022-epoch-0010-model-provenance.md
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: markdownlint

Attach model metadata to suggest-steps responses (prompt-0120)
  components/Canvas/Canvas.tsx
  docs/LOGS/PROMPTS/2025-11-22T10:41:47Z-prompt-0120.md
  docs/LOGS/PRS/pr-0022-epoch-0010-model-provenance.md
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: markdownlint

Enforce LLM env var and surface suggest-steps errors
  docs/ENV/ai.md
  docs/LOGS/PROMPTS/2025-11-22T16:03:44Z-prompt-0121.md
  docs/LOGS/PRS/pr-0023-epoch-0010-llm-env-enforcement.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: markdownlint

Extract step-generation prompt
  docs/LOGS/PROMPTS/2025-11-22T16:32:46Z-prompt-0122.md
  docs/LOGS/PRS/pr-0024-epoch-0010-step-prompt-extraction.md
  lib/langgraph/workflow.ts
  lib/prompts/steps.ts
Due: markdownlint

PR 3 Hotfix: replace LangChain workflow path
  docs/LOGS/PRS/pr-0025-epoch-0010-pr3-hotfix-langchain-workflow.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
Due: markdownlint

Fix enforced model typing
  docs/LOGS/PRS/pr-0025-epoch-0010-pr3-hotfix-langchain-workflow.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
Due: markdownlint

Apply PR-3 prompt and PR-2 client to suggest-step workflow
  docs/LOGS/PROMPTS/2025-11-22T17:24:11Z-prompt-0123.md
  docs/LOGS/PRS/pr-0026-epoch-0010-pr3-hotfix-langchain-v5-removal.md
  lib/langgraph/workflow.ts
Due: markdownlint

Fix suggest-step model type enforcement
  docs/LOGS/PROMPTS/2025-11-22T17:27:50Z-prompt-0124.md
  docs/LOGS/PRS/pr-0026-epoch-0010-pr3-hotfix-langchain-v5-removal.md
  lib/langgraph/workflow.ts
Due: markdownlint

Remove LangChain from step workflow and enforce PR-2 model
  docs/LOGS/PROMPTS/2025-11-22T17:55:45Z-prompt-0125.md
  docs/LOGS/PRS/pr-0027-epoch-0010-pr3-final-hotfix-langchain-removal.md
  lib/langgraph/workflow.ts
Due: markdownlint

Fix suggest-step model typing
  docs/LOGS/PROMPTS/2025-11-22T18:02:17Z-prompt-0126.md
  docs/LOGS/PRS/pr-0027-epoch-0010-pr3-final-hotfix-langchain-removal.md
  lib/langgraph/workflow.ts
Due: markdownlint

Open epoch 0010 prompt refinement documentation
  docs/LOGS/PROMPTS/2025-11-23T08:07:45Z-prompt-0119.md
  docs/ROADMAP/EPOCHS/0010-prompt-refinement/PLAN.md
  docs/ROADMAP/EPOCHS/0010-prompt-refinement/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add model provenance to step suggestions
  components/Canvas/Canvas.tsx
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: none

Enforce LLM env for suggest steps
  .env.example
  docs/ENV/ai.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: markdownlint

Add structured tracing to AI workflow
  lib/langgraph/workflow.ts
Due: none

Refactor suggest-step workflow to use LangGraph
  lib/langgraph/workflow.ts
Due: none

Refine suggestion prompt wording
  docs/LOGS/PROMPTS/2025-11-23T20:33:29Z-prompt-0120.md
  lib/ai/promptBuilder.ts
Due: markdownlint

Hotfix suggestion prompt balance and buckets
  lib/ai/promptBuilder.ts
Due: none

Add last suggestion context to step suggestions
  components/Canvas/Canvas.tsx
  lib/ai/promptBuilder.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
Due: none

Add student context to suggestion prompt
  lib/ai/promptBuilder.ts
Due: none

Embed development arc guidance in suggestion prompt
  docs/LOGS/PROMPTS/2025-11-24T12:18:12Z-prompt-0121.md
  lib/ai/promptBuilder.ts
Due: markdownlint

Strengthen suggestion prompt categories and variety
  lib/ai/promptBuilder.ts
Due: none

Bias suggestion prompt toward skill and experience variety
  docs/LOGS/PROMPTS/2025-11-24T12:56:03Z-prompt-0122.md
  lib/ai/promptBuilder.ts
Due: markdownlint

Refactor suggestion prompt for generic developmental focus
  docs/LOGS/PROMPTS/2025-11-24T14:56:13Z-prompt-0123.md
  lib/ai/promptBuilder.ts
Due: markdownlint

Rebalance prompt toward skill and experience focus
  docs/LOGS/PROMPTS/2025-11-25T07:10:25Z-prompt-0124.md
  lib/ai/promptBuilder.ts
Due: markdownlint

Add AI opportunity prompt and workflow plumbing
  docs/LOGS/PROMPTS/2025-11-25T08:25:17Z-prompt-0125.md
  lib/ai/opportunityPrompt.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-opportunities.ts
Due: markdownlint

Rename step prompt module
  docs/LOGS/PROMPTS/2025-11-25T09:33:36Z-prompt-0126.md
  lib/ai/stepPrompt.ts
  lib/langgraph/workflow.ts
Due: markdownlint

Use alias import for step prompt
  lib/langgraph/workflow.ts
Due: none

Switch opportunities generation to AI workflow
  __tests__/opportunities.generation.test.ts
  lib/ai/opportunityPrompt.ts
  lib/langgraph/workflow.ts
  lib/opportunities/generation.ts
Due: none

Refine opportunity prompt with Edge tiers
  docs/LOGS/PROMPTS/2025-11-25T16:33:36Z-prompt-0127.md
  lib/ai/opportunityPrompt.ts
Due: markdownlint

Refine opportunity source guidance
  docs/LOGS/PROMPTS/2025-11-25T16:58:17Z-prompt-0128.md
  lib/ai/opportunityPrompt.ts
Due: markdownlint

Tighten independent opportunity guidance
  docs/LOGS/PROMPTS/2025-11-25T17:15:23Z-prompt-0129.md
  lib/ai/opportunityPrompt.ts
Due: markdownlint

Allow saved manual steps to receive opportunities
  __tests__/opportunities.eligibility.test.ts
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-26T07:11:05Z-prompt-0130.md
  lib/opportunities/eligibility.ts
  test/api/steps.opportunities.test.ts
  test/api/steps.shuffle-opportunities.test.ts
Due: markdownlint
