Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Optional: run if tools are installed locally
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        # Allow missing tool gracefully
        always_run: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        always_run: false

Strengthen opportunity prompt with blueprint patterns
  lib/ai/opportunityPrompt.ts
Due: none

Refine opportunity prompt edge vs independent guidance
  lib/ai/opportunityPrompt.ts
Due: none

Reinforce bucket intensity guidance in opportunity prompt
  lib/ai/opportunityPrompt.ts
Due: none

Add student persona selection and prompt context
  __tests__/opportunities.generation.test.ts
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  components/StudentPersonaSelector.tsx
  context/StudentPersonaContext.tsx
  docs/LOGS/PROMPTS/2025-11-27T14:56:44Z-prompt-0131.md
  hooks/useOpportunities.ts
  lib/ai/opportunityPrompt.ts
  lib/ai/stepPrompt.ts
  lib/context/studentPersonas.ts
  lib/langgraph/workflow.ts
  lib/opportunities/generation.ts
  pages/api/ai/suggest-steps.ts
  pages/api/steps/[stepId]/opportunities.ts
  pages/api/steps/[stepId]/opportunities/shuffle.ts
  test/api/steps.opportunities.test.ts
  test/api/steps.shuffle-opportunities.test.ts
  test/ui/StepCard.test.tsx
Due: markdownlint

Fix persona selection lint and typing issues
  components/Canvas/Canvas.tsx
  docs/LOGS/PROMPTS/2025-11-28T21:03:41Z-prompt-0132.md
  pages/api/steps/[stepId]/opportunities.ts
Due: markdownlint

Ensure persona context reaches opportunity prompt
  docs/LOGS/PROMPTS/2025-11-28T21:44:14Z-prompt-0133.md
  lib/context/studentPersonas.ts
  pages/api/ai/suggest-opportunities.ts
Due: markdownlint

Close epoch 0010 prompt refinement
  docs/CHANGELOG.md
  docs/LOGS/PROMPTS/2025-11-29T10:12:18Z-prompt-0134.md
  docs/ROADMAP/EPOCHS/0010-prompt-refinement/PLAN.md
  docs/ROADMAP/EPOCHS/0010-prompt-refinement/STATUS.yaml
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add epoch 0011 tutorial guidance planning docs
  docs/ROADMAP/EPOCHS/epoch-0011-tutorial-guidance/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0011-tutorial-guidance/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add tutorial messages config and loader
  __tests__/tutorial.messages.test.ts
  config/tutorialMessages.v1.json
  lib/tutorial/messages.ts
Due: none

Add tutorial provider and persona intro callout
  components/Canvas/Canvas.tsx
  components/tutorial/TutorialCallout.tsx
  components/tutorial/TutorialContext.tsx
  docs/LOGS/PROMPTS/2025-11-29T17:46:15Z-prompt-0135.md
Due: markdownlint

Add dev-only tutorial reset control
  components/Canvas/Canvas.tsx
  components/tutorial/TutorialContext.tsx
  docs/LOGS/PROMPTS/2025-11-29T20:27:09Z-prompt-0136.md
Due: markdownlint

Restore persona intro tutorial and reset control
  components/Canvas/Canvas.tsx
  components/tutorial/TutorialContext.tsx
  docs/LOGS/PROMPTS/2025-11-29T21:34:12Z-prompt-0137.md
Due: markdownlint

Add in-memory tutorial step sequencing
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  components/tutorial/TutorialContext.tsx
  test/ui/StepCard.test.tsx
Due: none

Persist tutorial state per user
  components/Canvas/Canvas.tsx
  components/tutorial/TutorialContext.tsx
  docs/LOGS/PROMPTS/2025-11-30T06:21:09Z-prompt-0138.md
  lib/tutorial/state.ts
  lib/userData.ts
  pages/api/tutorial/state.ts
Due: markdownlint

Enhance tutorial callout accessibility
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2025-11-30T09:01:53Z-prompt-0139.md
Due: markdownlint

Refine tutorial onboarding and layout
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  components/tutorial/TutorialContext.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-02T08:10:53Z-prompt-epoch0011-2025-12-01.md
  lib/tutorial/messages.ts
Due: markdownlint

Broaden tutorial state to cover new message ids
  docs/LOGS/PROMPTS/2025-12-02T09:00:02Z-prompt-0140.md
  lib/tutorial/state.ts
Due: markdownlint

Gate first intention tutorial on persona selection
  components/StudentPersonaSelector.tsx
  components/tutorial/TutorialCallout.tsx
  components/tutorial/TutorialContext.tsx
  docs/LOGS/PROMPTS/2025-12-02T09:47:01Z-prompt-0141.md
Due: markdownlint

Fix opportunity generation tip trigger and overlay
  components/Canvas/StepCard.tsx
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2025-12-02T10:14:04Z-prompt-0142.md
Due: markdownlint

Fix tutorial callout pointer capture
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2025-12-02T10:29:49Z-prompt-0143.md
Due: markdownlint

Remove opportunity generation tutorial tip
  components/Canvas/StepCard.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-02T10:53:49Z-prompt-0144.md
  lib/tutorial/messages.ts
Due: markdownlint

Remove red dot tutorial callout
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-02T11:06:38Z-prompt-0145.md
  lib/tutorial/messages.ts
Due: markdownlint

Add manual step and opportunities autogeneration tutorial tips
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-02T12:04:41Z-prompt-0146.md
  lib/tutorial/messages.ts
Due: markdownlint

Fix manual add step ref mutability
  components/Canvas/IntentionRow.tsx
  docs/LOGS/PROMPTS/2025-12-02T13:21:37Z-prompt-0147.md
Due: markdownlint

Improve opportunities tutorial triggers
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  components/StudentPersonaSelector.tsx
  components/tutorial/TutorialCallout.tsx
  components/tutorial/TutorialContext.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-02T08:10:53Z-prompt-epoch0011-2025-12-01.md
  docs/LOGS/PROMPTS/2025-12-02T09:00:02Z-prompt-0140.md
  docs/LOGS/PROMPTS/2025-12-02T09:47:01Z-prompt-0141.md
  docs/LOGS/PROMPTS/2025-12-02T10:14:04Z-prompt-0142.md
  docs/LOGS/PROMPTS/2025-12-02T10:29:49Z-prompt-0143.md
  docs/LOGS/PROMPTS/2025-12-02T10:53:49Z-prompt-0144.md
  docs/LOGS/PROMPTS/2025-12-02T11:06:38Z-prompt-0145.md
  docs/LOGS/PROMPTS/2025-12-02T12:04:41Z-prompt-0146.md
  docs/LOGS/PROMPTS/2025-12-02T13:21:37Z-prompt-0147.md
  docs/LOGS/PROMPTS/2025-12-02T13:34:51Z-prompt-0148.md
  lib/tutorial/messages.ts
  lib/tutorial/state.ts
Due: markdownlint

Trigger opportunities autogenerating tutorial on loading ear
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-02T13:55:35Z-prompt-0149.md
Due: markdownlint

Ensure single opportunities autogen tip owner and capture clicks
  components/Canvas/StepCard.tsx
  components/tutorial/TutorialCallout.tsx
  docs/LOGS/PROMPTS/2025-12-02T15:31:08Z-prompt-0150.md
Due: markdownlint

Disable step dragging during opportunities tutorial
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-12-02T18:22:26Z-prompt-0151.md
Due: markdownlint

Harden tutorial callout pointer handling
  components/tutorial/TutorialCallout.tsx
Due: none

Simplify opportunities autogenerating trigger
  components/Canvas/StepCard.tsx
Due: none

Update roadmap to drop epoch 0006 and expand epoch 0008
  docs/LOGS/PRS/2025-12-02T192915Z-pr-roadmap-remove-epoch-0006-and-update-epoch-0008.md
  docs/ROADMAP/ROADMAP.md
Due: markdownlint

Trigger opportunities tip when auto-generation begins
  components/Canvas/StepCard.tsx
  hooks/useOpportunities.ts
  test/hooks/useOpportunities.test.tsx
  test/ui/StepCard.test.tsx
Due: none

Add tutorial tip for ready opportunities
  components/Canvas/StepCard.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-03T12:58:11Z-prompt-0151.md
  hooks/useOpportunities.ts
  lib/tutorial/messages.ts
  test/hooks/useOpportunities.test.tsx
  test/ui/StepCard.test.tsx
Due: markdownlint

Refine tutorial guidance on steps and opportunities
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  config/tutorialMessages.v1.json
Due: none

Refine tutorial tips for steps and opportunities
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-03T15:23:15Z-prompt-0152.md
Due: markdownlint

Show opportunities intro when modal opens
  components/Canvas/StepOpportunitiesModal.tsx
  docs/LOGS/PROMPTS/2025-12-03T15:36:12Z-prompt-0153.md
Due: markdownlint

Add intro tutorial for opportunities panel
  components/Canvas/StepOpportunitiesModal.tsx
  config/tutorialMessages.v1.json
  docs/LOGS/PROMPTS/2025-12-04T06:26:46Z-prompt-0153.md
  lib/tutorial/messages.ts
Due: markdownlint

Trigger opportunities panel intro on panel open
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  docs/LOGS/PROMPTS/2025-12-04T06:42:21Z-prompt-0154.md
Due: markdownlint

Fix opportunities intro callout visibility
  components/Canvas/StepOpportunitiesModal.tsx
  components/tutorial/TutorialCallout.tsx
Due: none

Adjust opportunities intro tutorial visibility
  components/Canvas/StepOpportunitiesModal.tsx
Due: none
