Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

markdownlint:
  name: markdownlint
  entry: markdownlint
  language: system
  pass_filenames: true
  stages:
  - commit
  additional_dependencies: []
  always_run: false

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  pass_filenames: true
  stages:
  - commit
  additional_dependencies: []
  always_run: false

chore(debug): log active model for langgraph workflow
  lib/langgraph/workflow.ts
Due: none

docs: mark epoch 0006 complete and queue 0007
  docs/CHANGELOG.md
  docs/ROADMAP/EPOCHS/0006-roadmap-ux-refresh/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add stubbed opportunities badge and modal
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useFakeOpportunities.ts
Due: none

Add opportunity persistence and APIs
  __tests__/lib.userData.opportunities.test.ts
  lib/dbHelpers.ts
  lib/mongodb.ts
  lib/userData.ts
  pages/api/opportunities/[id].ts
  pages/api/steps/[stepId]/opportunities.ts
  test/api/opportunities.test.ts
  types/canvas.ts
Due: none

Fix opportunity upsert lookup typing
  lib/userData.ts
Due: none

Connect opportunities UI to live data
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useOpportunities.ts
Due: none

Add simulated opportunity generation workflow
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useOpportunities.ts
  lib/langgraph/workflow.ts
  lib/opportunities/generation.ts
  lib/userData.ts
  pages/api/steps/[stepId]/generate-opportunities.ts
  pages/api/steps/index.ts
  test/api/generate-opportunities.test.ts
Due: none

Fix opportunity generation triggers and logging
  docs/LOGS/PROMPTS/2025-11-14T07:20:55Z-prompt-0103.md
  lib/langgraph/workflow.ts
  lib/opportunities/generation.ts
  pages/api/steps/index.ts
Due: markdownlint

Instrument opportunity generation flow
  docs/LOGS/PROMPTS/2025-11-14T08:17:00Z-prompt-0104.md
  hooks/useOpportunities.ts
  lib/langgraph/workflow.ts
  lib/opportunities/generation.ts
  lib/userData.ts
  pages/api/steps/[stepId]/generate-opportunities.ts
  pages/api/steps/[stepId]/opportunities.ts
  pages/api/steps/index.ts
  test/api/generate-opportunities.test.ts
Due: markdownlint

feat: add opportunities model and endpoint
  __tests__/opportunities.userData.test.ts
  lib/dbHelpers.ts
  lib/userData.ts
  pages/api/steps/[stepId]/opportunities.ts
  test/api/steps.opportunities.test.ts
  types/canvas.ts
Due: none

Assign opportunity ids before insertion
  lib/userData.ts
Due: none

Add opportunities UI for persisted steps
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useOpportunities.ts
Due: none

docs: close out epoch 0007 and roll state to 0008
  docs/CHANGELOG.md
  docs/ROADMAP/EPOCHS/0007-opportunities-model-ui/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

docs: kick off epoch 0008 opportunity ai simulation
  docs/LOGS/PROMPTS/2025-11-14T16:06:05Z-prompt-0103.md
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/PLAN.md
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

feat: add AI workflow for simulated opportunities
  __tests__/simulateOpportunities.workflow.test.ts
  lib/ai/opportunities.ts
  lib/langgraph/workflow.ts
Due: none

Add helper and shuffle opportunities API
  __tests__/opportunities.generateForStep.test.ts
  docs/LOGS/PROMPTS/2025-11-14T16:32:43Z-prompt-0008-shuffle.md
  lib/opportunities/generation.ts
  pages/api/steps/[stepId]/shuffle-opportunities.ts
  test/api/steps.shuffle-opportunities.test.ts
Due: markdownlint

Auto-generate opportunities on step creation and acceptance
  __tests__/opportunities.generateForStep.test.ts
  lib/opportunities/generation.ts
  lib/userData.ts
  pages/api/steps/index.ts
  test/api/steps.index.test.ts
Due: none

Fix step filter typing for Mongo upsert
  lib/userData.ts
Due: none

Fix opportunity access to respect step ownership
  lib/userData.ts
  pages/api/steps/[stepId]/opportunities.ts
  test/api/steps.opportunities.test.ts
Due: none

Stop loading opportunities for ghost steps
  __tests__/components/Canvas/StepCard.test.tsx
  __tests__/hooks/useOpportunities.test.tsx
  components/Canvas/StepCard.tsx
  hooks/useOpportunities.ts
Due: none

fix: restore suggested label on ai cards
  __tests__/components/Canvas/StepCard.test.tsx
  components/Canvas/StepCard.tsx
Due: none

docs: kick off epoch 0008 opportunity ai simulation
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/PLAN.md
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add simulated opportunities workflow and helper
  __tests__/opportunities.simulation.test.ts
  lib/opportunities/simulation.ts
Due: none

Add opportunity generation workflow and shuffle API
  __tests__/opportunities.generation.test.ts
  lib/opportunities/generation.ts
  pages/api/steps/[stepId]/shuffle-opportunities.ts
  test/api/steps.shuffle-opportunities.test.ts
Due: none

Add automatic opportunity generation for new steps
  lib/opportunities/generation.ts
  lib/userData.ts
  pages/api/steps/index.ts
  test/api/steps.auto-generation.test.ts
Due: none

Fix opportunities endpoint authorization
  pages/api/steps/[stepId]/opportunities.ts
  test/api/steps.opportunities.test.ts
Due: none

Ensure opportunities polling waits for persisted step ids
  __tests__/components/StepCard.test.tsx
  __tests__/hooks/useOpportunities.test.ts
  __tests__/opportunities.generation.test.ts
  components/Canvas/StepCard.tsx
  hooks/useOpportunities.ts
  lib/opportunities/generation.ts
Due: none

Stabilise opportunities loading
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-15T10:16:30Z-prompt-0103.md
  hooks/useOpportunities.ts
  pages/api/steps/[stepId]/opportunities.ts
  test/api/steps.opportunities.test.ts
  test/hooks/useOpportunities.test.tsx
  types/canvas.ts
Due: markdownlint

Restore opportunities hook on step cards
  components/Canvas/StepCard.tsx
  hooks/useOpportunities.ts
Due: none

Use backend ids for opportunities hook
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-15T17:07:34Z-prompt-0104.md
  test/components/Canvas/normaliseStepFromApi.test.ts
  test/ui/StepCard.test.tsx
Due: markdownlint

Coerce backend step ids for opportunities hook
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-15T17:31:03Z-prompt-0105.md
  test/components/Canvas/normaliseStepFromApi.test.ts
  test/ui/StepCard.test.tsx
Due: markdownlint

Separate backend and client step identifiers
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-15T18:11:00Z-prompt-0106.md
  test/components/Canvas/normaliseStepFromApi.test.ts
  test/ui/StepCard.test.tsx
  types/canvas.ts
Due: markdownlint

Add client ids to mock mock intentions
  data/mockIntentions.ts
  docs/LOGS/PROMPTS/2025-11-16T07:33:12Z-prompt-0107.md
Due: markdownlint

Instrument StepCard opportunities hook
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-16T08:21:55Z-prompt-0108.md
Due: markdownlint

Persist manual steps and expose backend ids
  components/Canvas/Canvas.tsx
  docs/LOGS/PROMPTS/2025-11-16T09:14:20Z-prompt-0109.md
  lib/userData.ts
  pages/api/steps/index.ts
Due: markdownlint

Fix steps collection typing for mixed ids
  docs/LOGS/PROMPTS/2025-11-16T09:33:13Z-prompt-0110.md
  lib/userData.ts
Due: markdownlint

Add instrumentation for opportunity auto-generation
  __tests__/opportunities.generation.test.ts
  __tests__/opportunities.simulation.test.ts
  __tests__/opportunities.userData.test.ts
  lib/opportunities/generation.ts
  pages/api/steps/[stepId]/opportunities.ts
  pages/api/steps/index.ts
  test/api/steps.shuffle-opportunities.test.ts
Due: none

Ensure opportunities auto-generation runs safely
  __tests__/opportunities.generation.test.ts
  lib/opportunities/generation.ts
  pages/api/steps/index.ts
Due: none

Lazy-generate opportunities on fetch
  docs/LOGS/PROMPTS/2025-11-16T11:10:10Z-prompt-0111.md
  lib/opportunities/generation.ts
  pages/api/steps/[stepId]/opportunities.ts
  test/api/steps.opportunities.test.ts
Due: markdownlint

feat: add deterministic opportunity drafts
  __tests__/opportunities.generation.test.ts
  __tests__/opportunities.simulation.test.ts
  __tests__/opportunities.userData.test.ts
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/PLAN.md
  lib/opportunities/generation.ts
  lib/opportunities/simulation.ts
  test/api/steps.opportunities.test.ts
  test/api/steps.shuffle-opportunities.test.ts
  test/hooks/useOpportunities.test.tsx
  types/canvas.ts
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
