Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

markdownlint:
  name: markdownlint
  entry: markdownlint
  language: system
  pass_filenames: true
  stages:
  - commit
  additional_dependencies: []
  always_run: false

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  pass_filenames: true
  stages:
  - commit
  additional_dependencies: []
  always_run: false

feat(epoch-0002): PR 0003-UX — modal-based Step creation for improved UX
  components/Canvas/AddStepModal.tsx
  components/Canvas/IntentionRow.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0003-ux.json
  docs/LOGS/PROMPTS/2025-11-07T17:19:08Z-prompt-0074.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix(epoch-0002): improve Add Step modal readability
  components/Canvas/AddStepModal.tsx
  docs/LOGS/PROMPTS/2025-11-07T17:29:18Z-prompt-0075.md
Due: markdownlint

feat(epoch-0002): PR 0004 — implement drag-and-drop between columns
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0004.json
  docs/STATE/STATUS.yaml
  package-lock.json
  package.json
Due: yamllint

fix(epoch-0002): PR 0004-hotfix — correct drop zone IDs and drag handler logic
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0004-hotfix.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0002): PR 0004 (reissue) — stable drag-and-drop using @dnd-kit data attributes
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0004.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix: add @dnd-kit/core dependency
  package-lock.json
  package.json
Due: none

fix(epoch-0002): PR 0004-restrict — prevent dropping Steps into or after Intention bucket
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0004-restrict.json
  docs/LOGS/PROMPTS/2025-11-07T18:30:38Z-prompt-0076.md
  docs/STATE/STATUS.yaml
  lib/buckets.ts
Due: markdownlint, yamllint

feat(epoch-0002): PR 0005 — inline editing for Intentions and Steps
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0005.json
  docs/LOGS/PROMPTS/2025-11-07T20:12:40Z-prompt-0077.md
  docs/STATE/STATUS.yaml
  hooks/useEditableText.ts
Due: markdownlint, yamllint

style: improve inline editing readability
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
Due: none

fix: improve inline edit readability
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
Due: none

fix(epoch-0002): PR 0005-hotfix — adjust inline editing text colours to red on black
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0005-hotfix.json
  docs/LOGS/PROMPTS/2025-11-08T07:57:57Z-prompt-0078.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix(epoch-0002): PR 0005-hotfix — replace inline editing with modal editing for consistency
  components/Canvas/EditModal.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0005-hotfix.json
  docs/LOGS/PROMPTS/2025-11-08T08:07:15Z-prompt-0079.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix(epoch-0002): PR 0005-hotfix-2 — match Edit Modal styling to Add Step modal (white card, red border, black text)
  components/Canvas/EditModal.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0005-hotfix-2.json
  docs/LOGS/PROMPTS/2025-11-08T08:31:50Z-prompt-0080.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0002): PR 0006 — add Intention creation modal (title, description, bucket)
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0006.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): type bucket selection in intention modal
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/Canvas.tsx
Due: none

fix(epoch-0002): PR 0006-hotfix — restrict Intention creation to future buckets (exclude Do Now)
  components/Canvas/AddIntentionModal.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0006-hotfix.json
  docs/LOGS/PROMPTS/2025-11-08T09:34:28Z-prompt-0081.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0002): PR 0007 — deletion for Steps and Intentions with confirmation modals
  components/Canvas/Canvas.tsx
  components/Canvas/DeleteModal.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0007.json
  docs/STATE/STATUS.yaml
  package-lock.json
  package.json
Due: yamllint

fix(epoch-0002): PR 0007-hotfix — implement drag-to-delete trash zone at row edge
  components/Canvas/Canvas.tsx
  components/Canvas/DeleteModal.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  components/Canvas/TrashZone.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0007-hotfix.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0002): PR 0009 — switch global typography to sans-serif (Inter/system stack)
  app/globals.css
  docs/LOGS/AUDIT/epoch-0002-pr-0009.json
  docs/STATE/STATUS.yaml
  tailwind.config.ts
Due: yamllint

fix(epoch-0002): PR 0009-hotfix — reduce column header size/weight to rebalance Canvas grid
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0009-hotfix-2 — further reduce column header size and weight for visual balance
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009-hotfix-2.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0009-hotfix-3 — center and shrink Canvas column headers for visual balance
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009-hotfix-3.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0009-hotfix-4 — final column header alignment and optical balance adjustments
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009-hotfix-4.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0009-hotfix-6 — true centre alignment for Canvas column headers
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009-hotfix-6.json
  docs/LOGS/PROMPTS/2025-11-08T13:47:38Z-prompt-0082.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix: ensure Canvas column headers are centered
  components/Canvas/Canvas.tsx
Due: none

fix(epoch-0002): PR 0009-hotfix-7 — align Canvas title/button and centre column headers optically
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009-hotfix-7.json
  docs/LOGS/PROMPTS/2025-11-08T14:03:34Z-prompt-0083.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix(epoch-0002): PR 0009-hotfix-8 — absolute centre alignment for headers + title/button baseline
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0009-hotfix-8.json
  docs/LOGS/PROMPTS/2025-11-08T14:11:28Z-prompt-0084.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0002): PR 0010 — distinct visual styling for Intention cards
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0010.json
  docs/STATE/STATUS.yaml
Due: yamllint

chore(epoch-0002): PR 0011 — remove stock template header bar for clean layout
  app/layout.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0011.json
  docs/STATE/STATUS.yaml
Due: yamllint

style(epoch-0002): PR 0012 — final Canvas layout and visual cohesion adjustments
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0012.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0013-hotfix — align trash zone height, centering, and fade animation
  app/globals.css
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/TrashZone.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0013-hotfix.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0002): PR 0014 — enable Intention move logic with concertina step handling
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  components/toast/ToastProvider.tsx
  components/toast/useToast.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0014.json
  docs/STATE/STATUS.yaml
  lib/steps.ts
Due: yamllint

style(epoch-0002): PR 0015 — lock header group alignment and vertical rhythm across breakpoints
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0015.json
  docs/STATE/STATUS.yaml
Due: yamllint

style(epoch-0002): PR 0016 — unify card visuals and add dashed empty-state placeholders
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0016.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0002): PR 0017 — redesign drag-to-delete with circular target and visual feedback
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  components/Canvas/TrashZone.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0017.json
  docs/STATE/STATUS.yaml
Due: yamllint

a11y(epoch-0002): PR 0018 — improve focus visibility, contrast, ARIA roles, and keyboard controls
  app/globals.css
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/AddStepModal.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/EditModal.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0018.json
  docs/LOGS/PROMPTS/2025-11-08T17:44:47Z-prompt-0085.md
  docs/STATE/STATUS.yaml
  tailwind.config.ts
Due: markdownlint, yamllint

feat(epoch-0002): PR 0019 — add toast feedback for user actions
  app/globals.css
  app/layout.tsx
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/AddStepModal.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  components/toast/ToastProvider.tsx
  components/toast/useToast.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0019.json
  docs/STATE/STATUS.yaml
  package-lock.json
  package.json
Due: yamllint

perf(epoch-0002): PR 0020 — optimise Canvas responsiveness and drag performance
  app/globals.css
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/TrashZone.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0020.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0020-hotfix — enable Intention deletion via drag-to-trash
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/TrashZone.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0020-hotfix.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0020-hotfix — enable Intention deletion via drag-to-trash
  components/Canvas/IntentionCard.tsx
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
