Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Optional: run if tools are installed locally
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        # Allow missing tool gracefully
        always_run: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        always_run: false

feat(epoch-0004): PR 0004 — add CRUD API routes for intentions and steps with debug logging
  docs/LOGS/AUDIT/epoch-0004-pr-0004.json
  docs/STATE/STATUS.yaml
  pages/api/intentions/index.ts
  pages/api/intentions/ping.ts
  pages/api/steps/index.ts
Due: yamllint

fix: ensure api routes import auth options from config
  pages/api/intentions/index.ts
  pages/api/steps/index.ts
Due: none

feat(epoch-0004): PR 0005 — remove mock data and wire Canvas to live /api/intentions
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0004-pr-0005.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0004): PR 0006 — add autosave hook and save status UI with debug tracing
  components/Canvas/Canvas.tsx
  components/Canvas/SaveStatus.tsx
  docs/STATE/STATUS.yaml
  hooks/useAutosave.ts
Due: yamllint

docs(epoch-0005): PR 0001 — add PLAN.md for AI Recommendations and set epoch active
  docs/LOGS/AUDIT/epoch-0005-pr-0001.json
  docs/ROADMAP/EPOCHS/0005-ai-recommendations/PLAN.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0005): PR 0002 — add /api/ai/suggest-steps (LangGraph) with observable debug test trigger
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
Due: yamllint

fix(api): import auth options from config
  pages/api/ai/suggest-steps.ts
Due: none

fix(epoch-0005): PR 0002-hotfix-1 — ensure Test AI Suggestions button visible and functional
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0005): PR 0003 — add step status helpers and Mongo indexes for AI recommendations
  docs/LOGS/AUDIT/epoch-0005-pr-0003.json
  docs/STATE/STATUS.yaml
  lib/dbHelpers.ts
  lib/mongodb.ts
  lib/userData.ts
Due: yamllint

feat(epoch-0005): PR 0004 — trigger AI step generation on intention creation with observable ghost placeholders
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0005-pr-0004.json
  docs/STATE/STATUS.yaml
  pages/api/steps/history.ts
  pages/api/steps/index.ts
  types/canvas.ts
Due: yamllint

fix: satisfy canvas type expectations
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
Due: none

feat(epoch-0005): PR 0005 — add Accept / Reject flow for AI suggestions with debug logging
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0005-pr-0005.json
  docs/LOGS/PROMPTS/2025-11-12T19:28:24Z-prompt-0101.md
  docs/STATE/STATUS.yaml
  lib/userData.ts
  pages/api/steps/index.ts
  types/canvas.ts
Due: markdownlint, yamllint

fix(epoch-0005): PR 0005-hotfix-1 — correct Accept/Reject layout and hitbox issues in StepCard
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0005-pr-0005-hotfix-1.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0005): PR 0005-hotfix-2 — resolve overlay hitbox issues and clean StepCard UI
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0005-pr-0005-hotfix-2.json
  docs/LOGS/PROMPTS/2025-11-12T20:10:55Z-prompt-0102.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix(epoch-0005): PR 0005-hotfix-3 — prevent drag from triggering on Accept/Reject (touch-safe)
  components/Canvas/Canvas.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0005-pr-0005-hotfix-3.json
  docs/LOGS/PROMPTS/2025-11-12T20:29:43Z-prompt-0103.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0005): PR 0005 — clean Accept/Reject flow, fix touch drag, remove Suggested label, correct layout
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0005-pr-0005.json
  docs/STATE/STATUS.yaml
  lib/userData.ts
  pages/api/steps/index.ts
  types/canvas.ts
Due: yamllint

fix(epoch-0005): resolve build failures for suggestion status flow
  components/Canvas/Canvas.tsx
  docs/LOGS/PROMPTS/2025-11-13T07:14:15Z-prompt-0101.md
  lib/userData.ts
Due: markdownlint

feat(epoch-0005): PR 0006 — on-demand AI step suggestions with ✨ wand icon
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  docs/STATE/STATUS.yaml
  types/canvas.ts
Due: yamllint

feat(epoch-0005): PR 0007 — implement Prompt Builder for improved step suggestions
  docs/STATE/STATUS.yaml
  lib/ai/promptBuilder.ts
  lib/langgraph/workflow.ts
Due: yamllint

feat(epoch-0005): PR 0008 — polish suggested step UX with animation and improved ghost placeholders
  app/globals.css
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-13T08:24:35Z-prompt-0008.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0005): PR 0009A — add distribution plan and sequential ghost flow for AI suggestions
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
  lib/ai/distributionPlan.ts
Due: yamllint

fix: harden suggestion handling and inserted id typing
  components/Canvas/Canvas.tsx
Due: none

feat(epoch-0005): PR 0009B — Prompt Builder v2 with aspiration-aware, varied, high-quality suggestions
  docs/STATE/STATUS.yaml
  lib/ai/promptBuilder.ts
  lib/langgraph/workflow.ts
Due: yamllint

feat(epoch-0005): PR 0009C — Prompt Builder v3 with advisor identity, no signposting, improved variation, and developmental structures
  docs/STATE/STATUS.yaml
  lib/ai/promptBuilder.ts
  lib/langgraph/workflow.ts
Due: yamllint

feat(epoch-0005): PR 0009D — Prompt Builder v4 (high-level developmental milestones)
  docs/STATE/STATUS.yaml
  lib/ai/promptBuilder.ts
  lib/langgraph/workflow.ts
Due: yamllint

feat(epoch-0005): PR 0009E — Prompt Builder v5 (high-level developmental milestones, no behavioural actions)
  docs/STATE/STATUS.yaml
  lib/ai/promptBuilder.ts
  lib/langgraph/workflow.ts
Due: yamllint

feat(epoch-0005): PR 0009E — Prompt Builder v5 (high-level developmental milestones, no behavioural actions)
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
Due: none

Default new intentions to after_grad
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
Due: yamllint

Fix AIMessage response text extraction
  docs/STATE/STATUS.yaml
  lib/langgraph/workflow.ts
Due: yamllint

Hotfix: default intentions to after graduation
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/Canvas.tsx
  docs/LOGS/PROMPTS/2025-11-13T14:10:22Z-prompt-0102.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

Hotfix: guard AI suggestions against missing OpenAI key
  components/Canvas/Canvas.tsx
  docs/CHANGELOG.md
  docs/LOGS/PRS/pr-0018-hotfix-0013-ai-suggest-steps.md
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
Due: markdownlint

Fix AI suggestion text extraction and default bucket
  components/Canvas/AddIntentionModal.tsx
  lib/langgraph/workflow.ts
Due: none

style: refresh step card visuals
  components/Canvas/StepCard.tsx
Due: none

Align roadmap docs for epoch 0006
  docs/LOGS/PROMPTS/2025-11-13T17:06:35Z-prompt-0102.md
  docs/ROADMAP/EPOCHS/0006-roadmap-ux-refresh/PLAN.md
  docs/ROADMAP/EPOCHS/0006-roadmap-ux-refresh/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Refine step and intention modals
  components/Canvas/AddIntentionModal.tsx
  components/Canvas/AddStepModal.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
Due: none

feat: refresh canvas save indicator and hide dev tools
  app/layout.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/SaveStatus.tsx
Due: none

Fix autosave timeout typing for Next.js build
  components/Canvas/SaveStatus.tsx
Due: none

Refine canvas header hierarchy and spacing
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
Due: none

Enhance drag feedback and focus styles
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
Due: none
