Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Optional: run if tools are installed locally
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        # Allow missing tool gracefully
        always_run: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        always_run: false

Enhance simulated opportunity content
  __tests__/opportunities.simulation.test.ts
  docs/LOGS/PROMPTS/2025-11-16T17:07:56Z-prompt-0112.md
  lib/opportunities/simulation.ts
  types/canvas.ts
Due: markdownlint

Improve StepCard badge layout
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-16T17:22:56Z-prompt-0113.md
Due: markdownlint

Float opportunities badge on StepCard chrome
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-16T17:52:45Z-prompt-0114.md
Due: markdownlint

Fix StepCard badge clipping
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-16T18:15:35Z-prompt-0115.md
Due: markdownlint

Add shuffle control and opportunity labels
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  docs/LOGS/PROMPTS/2025-11-16T18:32:15Z-prompt-0116.md
  hooks/useOpportunities.ts
  test/ui/StepCard.test.tsx
Due: markdownlint

Fix apostrophe escaping in opportunities modal
  components/Canvas/StepOpportunitiesModal.tsx
  docs/LOGS/PROMPTS/2025-11-16T18:40:35Z-prompt-0117.md
Due: markdownlint

Ensure opportunities modal shuffle and close handlers work
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-16T19:02:50Z-prompt-0118.md
  pages/api/steps/[stepId]/opportunities/shuffle.ts
  test/ui/StepCard.test.tsx
Due: markdownlint

Fix opportunities badge layout and shuffle
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useOpportunities.ts
  test/hooks/useOpportunities.test.tsx
  test/ui/StepCard.test.tsx
Due: none

Ensure opportunities panel shuffle + close work
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useOpportunities.ts
  pages/api/steps/[stepId]/opportunities/shuffle.ts
  pages/api/steps/[stepId]/shuffle-opportunities.ts
  test/hooks/useOpportunities.test.tsx
  test/ui/StepCard.test.tsx
Due: none

Improve badge placement and modal interception
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
Due: none

Adjust badge positioning on step cards
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
Due: none

Polish opportunities badge and modal
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
Due: none

Polish opportunity badge and modal
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  docs/LOGS/PROMPTS/2025-11-17T12:13:01Z-prompt-0113.md
Due: markdownlint

Make opportunities modal content scrollable
  components/Canvas/StepOpportunitiesModal.tsx
Due: none

Constrain opportunities modal body
  components/Canvas/StepOpportunitiesModal.tsx
Due: none

Improve opportunities logging and UI states
  components/Canvas/StepCard.tsx
  components/Canvas/StepOpportunitiesModal.tsx
  hooks/useOpportunities.ts
  lib/opportunities/generation.ts
  pages/api/steps/[stepId]/opportunities.ts
  pages/api/steps/[stepId]/opportunities/shuffle.ts
Due: none

Add simulated opportunities eligibility and integration tests
  __tests__/opportunities.eligibility.test.ts
  __tests__/opportunities.simulation.test.ts
  components/Canvas/StepCard.tsx
  lib/opportunities/eligibility.ts
  lib/opportunities/generation.ts
  test/api/steps.opportunities.integration.test.ts
  test/api/steps.shuffle-opportunities.test.ts
Due: none

Add eligibility guards and tests for opportunities
  __tests__/opportunities.eligibility.test.ts
  __tests__/opportunities.simulation.test.ts
  components/Canvas/StepCard.tsx
  lib/opportunities/eligibility.ts
  pages/api/steps/[stepId]/opportunities.ts
  pages/api/steps/[stepId]/opportunities/shuffle.ts
  test/api/steps.opportunities.test.ts
  test/api/steps.shuffle-opportunities.test.ts
  test/ui/StepCard.test.tsx
Due: none

Include status on StepRecord
  docs/LOGS/PROMPTS/2025-11-17T17:06:06Z-prompt-0114.md
  lib/opportunities/generation.ts
Due: markdownlint

docs: close epoch 0008
  docs/CHANGELOG.md
  docs/HISTORY/2025-11-15-epoch-0008-opportunity-ai-simulation.md
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/PLAN.md
  docs/ROADMAP/EPOCHS/0008-opportunity-ai-simulation/STATUS.yaml
  docs/ROADMAP/ROADMAP.md
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

fix: align intentions api with autosave
  app/api/intentions/ping/route.ts
  app/api/intentions/route.ts
  docs/LOGS/PROMPTS/2025-11-17T20:40:51Z-prompt-0115.md
  hooks/useAutosave.ts
  pages/api/intentions/index.ts
  pages/api/intentions/ping.ts
Due: markdownlint

Log auth session snapshots to debug panel
  context/UserContext.tsx
Due: none

Log auth session endpoint status
  context/UserContext.tsx
Due: none

Improve autosave diagnostics for prod auth
  components/Canvas/SaveStatus.tsx
  docs/LOGS/PROMPTS/2025-11-18T10:29:19Z-prompt-0116.md
  hooks/useAutosave.ts
Due: markdownlint

Handle autosave error bodies without JSON
  components/Canvas/SaveStatus.tsx
  docs/LOGS/PROMPTS/2025-11-18T10:29:19Z-prompt-0116.md
  docs/LOGS/PROMPTS/2025-11-18T10:42:14Z-prompt-0117.md
  hooks/useAutosave.ts
Due: markdownlint

Fix autosave auth on production
  docs/LOGS/PROMPTS/2025-11-18T11:37:12Z-prompt-0118.md
  hooks/useAutosave.ts
  middleware.ts
Due: markdownlint

Fix production auth detection for autosave
  app/api/intentions/route.ts
  docs/LOGS/PROMPTS/2025-11-18T12:37:54Z-prompt-0119.md
Due: markdownlint

Restore intentions API auth in production
  app/api/intentions/route.ts
  docs/LOGS/PROMPTS/2025-11-18T13:05:23Z-prompt-0120.md
  pages/api/intentions/index.ts
Due: markdownlint

Normalize intentions API response
  docs/LOGS/PROMPTS/2025-11-18T13:13:05Z-prompt-0121.md
  pages/api/intentions/index.ts
Due: markdownlint

Add App Router handler for intentions API
  app/api/intentions/route.ts
  lib/server/intentions.ts
  pages/api/intentions/index.ts
Due: none

Remove conflicting pages intentions API
  docs/LOGS/PROMPTS/2025-11-19T09:03:21Z-prompt-0122.md
  pages/api/intentions/index.ts
Due: markdownlint

Add epoch 0009a autosave production hotfix setup
  docs/LOGS/PROMPTS/2025-11-20T18:03:00Z-prompt-0115.md
  docs/ROADMAP/EPOCHS/epoch-0009a-autosave-prod-fix/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0009a-autosave-prod-fix/STATUS.yaml
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add autosave observability logging
  docs/LOGS/PROMPTS/2025-11-20T18:15:07Z-prompt-0116.md
  docs/LOGS/PRS/pr-0019-epoch-0009a-autosave-instrumentation.md
  hooks/useAutosave.ts
  pages/api/intentions/index.ts
  pages/api/intentions/ping.ts
Due: markdownlint

Remove autosave instrumentation logging
  docs/LOGS/PROMPTS/2025-11-20T18:58:29Z-prompt-0117.md
  docs/LOGS/PRS/pr-0020-epoch-0009a-autosave-hotfix-cleanup.md
  hooks/useAutosave.ts
  pages/api/intentions/index.ts
  pages/api/intentions/ping.ts
Due: markdownlint

Close epoch 0009a autosave prod fix
  docs/LOGS/PROMPTS/2025-11-20T19:08:50Z-prompt-0118.md
  docs/LOGS/PRS/pr-0021-epoch-0009a-autosave-prod-fix-close.md
  docs/ROADMAP/EPOCHS/epoch-0009a-autosave-prod-fix/STATUS.yaml
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add epoch 0010 prompt refinement state
  docs/LOGS/PROMPTS/2025-11-21T10:29:13Z-prompt-0119.md
  docs/ROADMAP/EPOCHS/epoch-0010-prompt-refinement/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0010-prompt-refinement/STATUS.yaml
  docs/STATE/CURRENT.yaml
Due: markdownlint, yamllint

Add LLM model selection diagnostics
  app/api/ai/graph/route.ts
  app/api/ai/ping/route.ts
  app/api/ai/stream/route.ts
  app/api/ai/tools/route.ts
  components/debug/DebugPanel.tsx
  docs/ENV/ai.md
  docs/LOGS/PROMPTS/2025-11-21T10:46:52Z-prompt-0120.md
  docs/LOGS/PRS/pr-0022-epoch-0010-llm-debug-diagnostics.md
  lib/ai/client.ts
  lib/ai/env.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
Due: markdownlint

Add AI model instrumentation logs
  app/api/ai/graph/route.ts
  docs/LOGS/FRONTEND/prompt-0121.md
  docs/LOGS/PROMPTS/2025-11-21T11:26:48Z-prompt-0121.md
  docs/LOGS/PRS/pr-0023-epoch-0010-ai-model-instrumentation.md
  lib/ai/client.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
Due: markdownlint

Add server debug sink and enforce LLM configuration
  app/api/ai/graph/route.ts
  app/api/ai/tools/route.ts
  docs/LOGS/PROMPTS/2025-11-21T16:13:26Z-prompt-0122.md
  docs/LOGS/PRS/pr-0024-epoch-0010-llm-debug-hotfix.md
  lib/ai/client.ts
  lib/ai/env.ts
  lib/debug/serverSink.ts
  lib/langgraph/workflow.ts
  pages/api/ai/suggest-steps.ts
  test/api/ai.suggest-steps.test.ts
  test/setup-globals.ts
Due: markdownlint

Enforce server-side LLM env and update AI instrumentation
  docs/ENV/ai.md
  docs/LOGS/PROMPTS/2025-11-21T10:46:52Z-prompt-0120.md
  docs/LOGS/PROMPTS/2025-11-21T17:45:38Z-prompt-0123.md
  docs/LOGS/PRS/pr-0025-pr-1c-hotfix-llm-server-only.md
  lib/ai/client.ts
  lib/ai/env.ts
  pages/api/ai/suggest-steps.ts
Due: markdownlint
