Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json

  # Optional: run if tools are installed locally
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [markdown]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        # Allow missing tool gracefully
        always_run: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        pass_filenames: true
        stages: [commit]
        additional_dependencies: []
        always_run: false

Revise README for King's Canvas project
  README.md
Due: markdownlint

Revise product spec for King's Canvas
  docs/SPEC/PRODUCT_SPEC.md
Due: markdownlint

Revise architecture documentation for King's Canvas
  docs/SPEC/ARCHITECTURE.md
Due: markdownlint

Enhance GLOSSARY.md with new definitions and sections
  docs/SPEC/GLOSSARY.md
Due: markdownlint

Revise roadmap for King's Canvas application
  docs/ROADMAP/ROADMAP.md
Due: markdownlint

Delete docs/ROADMAP/EPOCHS directory
  docs/ROADMAP/EPOCHS/epoch-0001-bootstrap/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0001-bootstrap/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0001-deploy-ci/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0001-deploy-ci/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0002-env-config/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0002-env-config/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0003-project-scaffold/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0003-project-scaffold/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0004-debug-panel/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0004-debug-panel/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0005-pages-routes/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0005-pages-routes/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0006-ui-primitives/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0006-ui-primitives/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0007-pwa/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0007-pwa/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0008-toasts/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0008-toasts/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0009-forms-validation/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0009-forms-validation/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0010-testing-observability/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0010-testing-observability/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0011-auth-google/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0011-auth-google/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0012-db-mongodb/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0012-db-mongodb/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0013-ai-langgraph-openai/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0013-ai-langgraph-openai/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0014-ui-primitives-forms/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0014-ui-primitives-forms/STATUS.yaml
  docs/ROADMAP/EPOCHS/epoch-0017-testing-observability/PLAN.md
  docs/ROADMAP/EPOCHS/epoch-0017-testing-observability/STATUS.yaml
Due: markdownlint, yamllint

readded epochs directory
  docs/ROADMAP/EPOCHS/tmp
Due: none

feat(epoch-0001): PR 0001 — create base canvas component structure
  app/page.tsx
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0001): PR 0002 — implement four-column grid layout
  components/Canvas/Canvas.tsx
  docs/LOGS/PROMPTS/2025-11-06T17:40:15Z-prompt-0002.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0001): PR 0003 — add reusable ColumnHeader component
  components/Canvas/Canvas.tsx
  components/Canvas/ColumnHeader.tsx
  docs/LOGS/PROMPTS/2025-11-06T17:47:39Z-prompt-0003.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0001): PR 0004 — integrate King’s brand palette and apply to layout
  components/Canvas/Canvas.tsx
  components/Canvas/ColumnHeader.tsx
  docs/LOGS/PROMPTS/2025-11-06T17:53:49Z-prompt-0004.md
  docs/STATE/STATUS.yaml
  styles/brand.ts
  tailwind.config.ts
Due: markdownlint, yamllint

feat(epoch-0001): PR 0005 — add typography system with brand hierarchy
  app/globals.css
  app/layout.tsx
  components/Canvas/ColumnHeader.tsx
  docs/STATE/STATUS.yaml
  docs/STYLEGUIDE/typography.md
  tailwind.config.ts
Due: markdownlint, yamllint

fix: reduce column header typography scale
  components/Canvas/ColumnHeader.tsx
Due: none

fix(epoch-0001): PR 0005 — further reduce column header scale
  components/Canvas/ColumnHeader.tsx
Due: none

feat(epoch-0001): PR 0005 — shrink column header typography further
  components/Canvas/ColumnHeader.tsx
Due: none

feat(epoch-0001): PR 0005 — shrink column headers further
  components/Canvas/ColumnHeader.tsx
Due: none

feat(epoch-0001): PR 0006 — insert placeholder cards for intentions and steps
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  docs/STATE/STATUS.yaml
Due: yamllint

fix(canvas): separate intention and step placeholders by bucket
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0001): remove intention placeholder from after column
  components/Canvas/Canvas.tsx
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0001): PR 0007 — add responsive breakpoints for desktop layout
  components/Canvas/Canvas.tsx
  components/Canvas/ColumnHeader.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/PROMPTS/2025-11-06T19:15:49Z-prompt-0007.md
  docs/STATE/STATUS.yaml
  tailwind.config.ts
Due: markdownlint, yamllint

fix(epoch-0001): reduce column header size on desktop
  components/Canvas/ColumnHeader.tsx
  docs/LOGS/PROMPTS/2025-11-06T19:21:45Z-prompt-0007.md
Due: markdownlint

fix(epoch-0001): shrink desktop column headers
  components/Canvas/ColumnHeader.tsx
  docs/LOGS/PROMPTS/2025-11-06T19:26:26Z-prompt-0007-followup.md
Due: markdownlint

feat(epoch-0001): PR 0008 — accessibility and contrast review for WCAG AA+
  components/Canvas/Canvas.tsx
  components/Canvas/ColumnHeader.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  docs/STATE/STATUS.yaml
  styles/brand.ts
  tailwind.config.ts
Due: yamllint

chore(epoch-0001): PR 0009 — add internal demo snapshot and update status docs
  README.md
  docs/LOGS/PROMPTS/2025-11-06T20:07:58Z-prompt-0009.md
  docs/STATE/STATUS.yaml
  docs/STATE/previews/epoch-0001-demo.png
  package-lock.json
Due: markdownlint, yamllint

test(epoch-0001): PR 0010 — add layout unit and DOM tests for Canvas
  __tests__/components/Canvas/Canvas.test.tsx
  docs/LOGS/PROMPTS/2025-11-06T20:29:08Z-prompt-0070.md
  docs/STATE/STATUS.yaml
  jest.config.js
  test/setup-globals.ts
  test/testServer.ts
Due: markdownlint, yamllint

chore(epoch-0001): PR 0011 — add screenshot reference metadata (binary excluded)
  README.md
  docs/STATE/STATUS.yaml
  docs/STATE/previews/epoch-0001-reference.json
Due: markdownlint, yamllint

Add prompt log for TextEncoder fix
  docs/LOGS/PROMPTS/2025-11-07T12:51:21Z-prompt-0071.md
  test/setup-globals.ts
Due: markdownlint

chore(state): close epoch-0001 and initialise epoch-0002 (Intentions, Steps & Swim Lanes)
  docs/LOGS/PROMPTS/2025-11-07T12:57:56Z-prompt-0072.md
  docs/STATE/CURRENT.yaml
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0002): PR 0001 — define Intention/Step types and mock data
  components/Canvas/Canvas.tsx
  data/mockIntentions.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0001.json
  docs/STATE/STATUS.yaml
  types/canvas.ts
Due: yamllint

feat(epoch-0002): PR 0002 — render Intention rows (swim lanes) across Canvas
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0002.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0002): PR 0002 (reissue) — render Intentions inside time buckets with multiple samples
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/StepCard.tsx
  data/mockIntentions.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0002.json
  docs/STATE/STATUS.yaml
  types/canvas.ts
Due: yamllint

feat(epoch-0002): PR 0002 — correct swim lane layout (intention in bucket, steps before)
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  data/mockIntentions.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0002.json
  docs/STATE/STATUS.yaml
  lib/buckets.ts
  types/canvas.ts
Due: yamllint

feat(epoch-0002): PR 0002 — enhance swim lanes with multiple steps and realistic intentions
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  data/mockIntentions.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0002.json
  docs/STATE/STATUS.yaml
  types/canvas.ts
Due: yamllint

feat(epoch-0002): PR 0002 — final swim lane logic (steps before intention, multiple per bucket)
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionCard.tsx
  components/Canvas/IntentionRow.tsx
  components/Canvas/StepCard.tsx
  components/Canvas/constants.ts
  data/mockIntentions.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0002.json
  docs/STATE/STATUS.yaml
  types/canvas.ts
Due: yamllint

fix(epoch-0002): PR 0002-hotfix — restore missing mockIntentions sample data
  data/mockIntentions.ts
  docs/LOGS/AUDIT/epoch-0002-pr-0002-hotfix.json
  docs/LOGS/PROMPTS/2025-11-07T16:08:39Z-prompt-0073.md
Due: markdownlint

feat(epoch-0002): PR 0003 — add interactive Step creation & association logic
  components/Canvas/AddStepForm.tsx
  components/Canvas/IntentionRow.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0003.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix: mark canvas components as client
  components/Canvas/AddStepForm.tsx
  components/Canvas/IntentionRow.tsx
Due: none

fix(epoch-0002): PR 0003-hotfix — prevent column collapse & align AddStepForm
  components/Canvas/AddStepForm.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0003-hotfix.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0002): PR 0003 (reissue) — rebuild stable layout and step creation logic
  components/Canvas/AddStepForm.tsx
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0003.json
  docs/STATE/STATUS.yaml
  lib/buckets.ts
Due: yamllint

fix(canvas): mark interactive components as client
  components/Canvas/AddStepForm.tsx
  components/Canvas/IntentionRow.tsx
Due: none
