Repository markpeace/kingscanvas: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, yamllint

markdownlint:
  name: markdownlint
  entry: markdownlint
  language: system
  pass_filenames: true
  stages:
  - commit
  additional_dependencies: []
  always_run: false

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  pass_filenames: true
  stages:
  - commit
  additional_dependencies: []
  always_run: false

fix(epoch-0002): PR 0020-hotfix-3 — enable Intention deletion via trash drop
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0020-hotfix-3.json
  docs/STATE/STATUS.yaml
Due: yamllint

fix(epoch-0002): PR 0020-hotfix-4 — prioritise trash zone collisions for intention drops
  components/Canvas/Canvas.tsx
  components/Canvas/IntentionRow.tsx
  docs/LOGS/AUDIT/epoch-0002-pr-0020-hotfix-4.json
  docs/STATE/STATUS.yaml
Due: yamllint

docs(epoch-0003): PR 0001 — add PLAN.md for Authentication & Session Handling
  docs/LOGS/AUDIT/epoch-0003-pr-0001.json
  docs/ROADMAP/EPOCHS/0003-authentication-session/PLAN.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0003): PR 0002 — protect Canvas routes using getServerSession
  app/canvas/page.tsx
  app/page.tsx
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0002.json
  docs/STATE/STATUS.yaml
  next-env.d.ts
Due: yamllint

fix(epoch-0003): PR 0002-hotfix-1 — protect root route rendering Canvas
  app/canvas/page.tsx
  app/page.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0002-hotfix-1.json
  docs/STATE/STATUS.yaml
  next-env.d.ts
Due: yamllint

fix(epoch-0003): PR 0002-hotfix-2 — export authOptions and fix getServerSession guard
  app/api/auth/[...nextauth]/route.ts
  docs/LOGS/AUDIT/epoch-0003-pr-0002-hotfix-2.json
  docs/LOGS/PROMPTS/2025-11-09T10:52:08Z-prompt-0086.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
Due: markdownlint, yamllint

fix(epoch-0003): PR 0002-hotfix-3 — fix session persistence and redirect loop
  .env.local.example
  docs/LOGS/AUDIT/epoch-0003-pr-0002-hotfix-3.json
  docs/LOGS/PROMPTS/2025-11-09T14:35:14Z-prompt-0087.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
Due: markdownlint, yamllint

fix(epoch-0003): PR 0002-hotfix-4 — resolve login loop and session mismatch
  components/Canvas/Canvas.tsx
  components/auth/SignInButton.tsx
  components/auth/SignOutButton.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0002-hotfix-4.json
  docs/LOGS/PROMPTS/2025-11-09T15:15:29Z-prompt-0088.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
Due: markdownlint, yamllint

feat(epoch-0003): PR 0003 — add King’s-branded login page
  app/login/page.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0003.json
  docs/LOGS/PROMPTS/2025-11-09T15:56:06Z-prompt-0089.md
  docs/STATE/STATUS.yaml
  tailwind.config.ts
Due: markdownlint, yamllint

fix(epoch-0003): make login page interactive
  app/login/LoginContent.tsx
  app/login/page.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0003.json
  docs/LOGS/PROMPTS/2025-11-09T16:05:22Z-prompt-0090.md
Due: markdownlint

feat(epoch-0003): PR 0004 — add session UI and header menu with text-based avatar (no images)
  app/layout.tsx
  components/Layout/Header.tsx
  components/Layout/HeaderUserMenu.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0004.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0003): PR 0005 — add UserProvider and useUser() for session context
  components/Canvas/Canvas.tsx
  components/Layout/HeaderUserMenu.tsx
  components/Nav.tsx
  components/auth/AuthProvider.tsx
  components/auth/UserMenu.tsx
  context/UserContext.tsx
  docs/LOGS/AUDIT/epoch-0003-pr-0005.json
  docs/LOGS/PROMPTS/2025-11-09T16:38:34Z-prompt-0091.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0003): PR 0006 — add NextAuth middleware to protect API routes
  docs/LOGS/AUDIT/epoch-0003-pr-0006.json
  docs/LOGS/PROMPTS/2025-11-09T16:48:31Z-prompt-0092.md
  docs/STATE/STATUS.yaml
  lib/withAuth.ts
  middleware.ts
Due: markdownlint, yamllint

feat(epoch-0003): PR 0006A — add DEBUG_USER environment override for debug auth bypass
  docs/LOGS/AUDIT/epoch-0003-pr-0006a.json
  docs/LOGS/PROMPTS/2025-11-09T16:56:19Z-prompt-0093.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
  middleware.ts
Due: markdownlint, yamllint

fix: set debug session image to null
  lib/auth/config.ts
Due: none

fix(epoch-0003): PR 0006A-hotfix — make DEBUG_USER bypass work across environments
  docs/LOGS/PROMPTS/2025-11-09T17:16:18Z-prompt-0094.md
  lib/auth/config.ts
  middleware.ts
Due: markdownlint

fix(epoch-0003): PR 0006A-hotfix-2 — force DEBUG_USER auth override to run at runtime
  docs/LOGS/PROMPTS/2025-11-09T17:28:15Z-prompt-0095.md
  lib/auth/config.ts
Due: markdownlint

fix(epoch-0003): PR 0006A-hotfix-4 — skip authentication on Vercel previews and use test@test.com
  app/api/auth/[...nextauth]/route.ts
  docs/LOGS/PROMPTS/2025-11-09T17:37:48Z-prompt-0095.md
Due: markdownlint

fix(epoch-0003): PR 0006A-hotfix-5 — skip auth in non-production and return Test User
  app/api/auth/[...nextauth]/route.ts
  app/page.tsx
  docs/LOGS/PROMPTS/2025-11-09T17:49:59Z-prompt-0096.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
  middleware.ts
  next-env.d.ts
  pages/api/auth/[...nextauth].ts
Due: markdownlint, yamllint

fix(epoch-0003): resolve NextAuth route conflict
  app/api/auth/[...nextauth]/route.ts
  docs/LOGS/PROMPTS/2025-11-09T18:04:36Z-prompt-0097.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
  pages/api/auth/[...nextauth].ts
Due: markdownlint, yamllint

fix(epoch-0003): PR 0006A-hotfix-6 — replace NextAuth with static session in non-production
  app/api/auth/[...nextauth]/route.ts
  app/api/auth/ping/route.ts
  app/api/profiles/route.ts
  app/page.tsx
  docs/LOGS/PROMPTS/2025-11-09T18:16:00Z-prompt-0098.md
  docs/STATE/STATUS.yaml
  lib/auth/config.ts
  lib/auth/server.ts
  lib/withAuth.ts
  middleware.ts
  pages/api/auth/[...nextauth].ts
Due: markdownlint, yamllint

chore(epoch-0003): PR 0007 — epoch close-out snapshot (no images)
  docs/CHANGELOG.md
  docs/HISTORY/EPOCHS/0003-authentication-session/PLAN.md
  docs/HISTORY/EPOCHS/0003-authentication-session/STATUS.yaml
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0001.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0002-hotfix-1.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0002-hotfix-2.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0002-hotfix-3.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0002-hotfix-4.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0002.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0003.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0004.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0005.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0006.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0006a.json
  docs/HISTORY/EPOCHS/0003-authentication-session/epoch-0003-pr-0007.json
  docs/LOGS/AUDIT/epoch-0003-pr-0007.json
  docs/ROADMAP/ROADMAP.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

docs(epoch-0004): PR 0001 — add PLAN.md for Persistence & Autosave
  docs/LOGS/AUDIT/epoch-0004-pr-0001.json
  docs/ROADMAP/EPOCHS/0004-persistence-autosave/PLAN.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

feat(epoch-0004): PR 0002 — extend MongoDB utilities with user-scoped helpers
  docs/LOGS/AUDIT/epoch-0004-pr-0002.json
  docs/LOGS/PROMPTS/2025-11-09T19:42:33Z-prompt-0099.md
  docs/STATE/STATUS.yaml
  env.d.ts
  lib/dbHelpers.ts
  lib/mongodb.ts
  lib/userData.ts
  tsconfig.json
Due: markdownlint, yamllint

feat(epoch-0004): PR 0003 — add CRUD API routes for intentions and steps
  docs/LOGS/AUDIT/epoch-0004-pr-0003.json
  docs/LOGS/PROMPTS/2025-11-09T20:06:35Z-prompt-0003.md
  docs/STATE/STATUS.yaml
  lib/apiError.ts
  pages/api/auth/[...nextauth].ts
  pages/api/intentions.ts
  pages/api/steps.ts
Due: markdownlint, yamllint

feat(epoch-0004): PR 0004 — add debounced autosave hook for Canvas
  components/Canvas/Canvas.tsx
  docs/LOGS/AUDIT/epoch-0004-pr-0004.json
  docs/STATE/STATUS.yaml
  hooks/useAutosave.ts
Due: yamllint

feat(epoch-0004): PR 0005 — add SaveStatus UI component for autosave feedback
  components/Canvas/Canvas.tsx
  components/Canvas/SaveStatus.tsx
  docs/LOGS/AUDIT/epoch-0004-pr-0005.json
  docs/STATE/STATUS.yaml
Due: yamllint

feat(epoch-0004): PR 0006 — add retry logic and offline queueing to autosave hook
  components/Canvas/Canvas.tsx
  components/Canvas/SaveStatus.tsx
  docs/LOGS/AUDIT/epoch-0004-pr-0006.json
  docs/STATE/STATUS.yaml
  hooks/useAutosave.ts
Due: yamllint

feat(epoch-0004): PR 0007 — add offline fallback and IndexedDB sync for autosave
  docs/LOGS/AUDIT/epoch-0004-pr-0007.json
  docs/STATE/STATUS.yaml
  hooks/useAutosave.ts
  lib/offlineStore.ts
Due: yamllint

chore(epoch-0004): PR 0007-hotfix-1 — add autosave trace logging to debug console
  docs/LOGS/AUDIT/epoch-0004-pr-0007-hotfix-1.json
  docs/STATE/STATUS.yaml
  hooks/useAutosave.ts
  lib/debug/index.ts
  lib/debug/log.ts
Due: yamllint

chore(epoch-0004): PR 0007-hotfix-2 — trace Mongo writes in intentions API
  docs/STATE/STATUS.yaml
  lib/userData.ts
  pages/api/intentions.ts
Due: yamllint

Restrict MSW startup to development
  pages/_app.tsx
Due: none

fix(epoch-0004): PR 0007-hotfix-3 — disable MSW by default; only allow in local dev
  docs/LOGS/AUDIT/epoch-0004-pr-0007-hotfix-3.json
  pages/_app.tsx
Due: none

docs(epoch-0004): PR 0001 — add PLAN.md for Persistence & Autosave (with full debug observability)
  docs/LOGS/AUDIT/epoch-0004-pr-0001.json
  docs/ROADMAP/EPOCHS/0004-persistence-autosave/PLAN.md
  docs/STATE/STATUS.yaml
Due: markdownlint, yamllint

fix(epoch-0004): PR 0002 — disable MSW by default; allow only in local dev
  docs/LOGS/AUDIT/epoch-0004-pr-0002.json
  docs/STATE/STATUS.yaml
  lib/debug.ts
  pages/_app.tsx
Due: yamllint

fix: add stub mocks module for MSW
  mocks/index.ts
Due: none

fix(epoch-0004): PR 0002 — fully remove and disable MSW mocking
  _mocks_disabled/index.ts
  docs/LOGS/AUDIT/epoch-0004-pr-0002.json
  docs/STATE/STATUS.yaml
  lib/debug.ts
  pages/_app.tsx
Due: yamllint

feat(epoch-0004): PR 0003 — extend MongoDB utilities with debug tracing
  docs/LOGS/AUDIT/epoch-0004-pr-0003.json
  docs/LOGS/PROMPTS/2025-11-10T12:32:06Z-prompt-0099.md
  docs/STATE/STATUS.yaml
  lib/dbHelpers.ts
  lib/debug.ts
  lib/mongodb.ts
  lib/userData.ts
Due: markdownlint, yamllint

fix(epoch-0004): satisfy MongoDB helper typings
  docs/LOGS/PROMPTS/2025-11-10T13:09:58Z-prompt-0100.md
  lib/dbHelpers.ts
  lib/debug/log.ts
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  yamllint: any of: \.(yaml|yml)$
